

*.Rhistory
*__pycache__*
*.pyc
*.pdf
*.png
*.json


# documentation
doc/build/
*.pickle
*.pkl
*.html
*.doctree
*.buildinfo
*.js
*.rst.*
*.inv
*.bat

# quarto rendering
*.ipynb
*.png
*.js
*.woff
*.css


/.quarto/
